header {
  height: 100%;
  /* padding-top: 7rem; */
  overflow: hidden;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(9, 9, 34, 0.6));
}

.header__container {
  text-align: left;
  height: 100%;
  position: relative;
}

.cta {
  display: flex;
  justify-content: start;
  gap: 1.2rem;
  margin-top: 2.5rem;
  padding-bottom: 20px;
}

.header__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  gap: 0.8rem;
  /* position: absolute;
  left: 5rem;
  bottom: 1rem; */
}

.header__socials a {
  color: var(--color-white);
}

.header__socials a:hover {
  color: var(--color-primary);
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.my-image {
  background-image: url('../../assets/bg1.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  padding: 70px;
  padding-top: 30px;
  /* margin-top: -50px;
  height: 500px;
  width: 450px; */
}
.mobile {
  display: none;
}
.mobile img, .desktop img {
  border-radius: 10px;
}
@media screen and (max-width: 1024px){
  header {
    height: 68vh;
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px){
  header {
    height: auto;
    display: flex;
    justify-content: center;
  }
  .mobile {
    display: block;
    padding-bottom: 30px;
    /* height: 60vh; */
  }
  .desktop {
    display: none;
  }
  /* .my-image {
    margin-top: -50px;
    height: 300px;
    width: 250px;
  } */

  .header__socials a {
    text-align: center;
  }
}